@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html,body,h1,h2,h3,h4,p,ul,li,dl,dt,dd{
    font-family: 'Paytone One','Gowun Dodum';
    margin: 0;
    padding: 0;
}

ul,li,dl,dt,dd{
    list-style: none;
}

h1,h2{
    color: #0541d7;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 20px;
    line-height: 1.75;
    color: #444444;
}

img{
    border: none;
    display: inline-block;
}

address{
    font-style: normal;
}

 /* scroll css */

 html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    border:0;
    padding:0;
    overflow: hidden;
    background: #FFF9EF;
}
.wrap {
    position:relative;
    top:0;
    width:100%;height:100%;
    transition: 0.5s;
}
.container {
    width:100%;height:100%;
}



/* mypage_cover */
.mypage_wrap{
    width: 100%;
    background: #FFF9EF;
    position: relative;
    height: 100vh;
    z-index: 20;
}

.mypage_cont{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.h1_wrap{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100px);
}

.mypage_cont h1{
    font-size: 120px;
}

.slide_down{
    opacity: 1;
    transform: translateY(0);
}

.opacity_10{
    position: absolute;
    top: 119px;
    left:27%;
    color: #E6E7ED;
}

.opacity_30{
    position: absolute;
    top: 185px;
    left: 27%;
    color: #B4C2E8;
    
}

.opacity_50{
    position: absolute;
    top: 251px;
    left: 27%;
    color: #819CE2;
}

.opacity_70{
    position: absolute;
    top: 317px;
    left: 27%;
    color: #5078DE;
}

.opacity_100{
    position: absolute;
    top: 383px;
    left: 27%;
    color: #0541d7;
}

.bg_01{
    position: absolute;
    left: 0;
    top: 261px;
    width: 480px;
}

.bg_02{
    position: absolute;
    right: 0;
    top: 317px;
    width: 500px;
}

.p_wrap{
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
    position: relative;
}

.name{
    font-size: 30px;
    color: #0541d7;
    position: absolute;
    bottom: -650px;
    left: 0;
    height: 0;
}

.year{
    font-size: 30px;
    color: #0541d7;
    right: 0;
    bottom: -650px;
    position: absolute;
    height: 0;
}

.slide_up{
    opacity: 1;
    transform: translateY(0);
}

/* pager */
.pager{
    position: fixed;
    right: 24px;
    top: 180px;
    z-index: 100;
    text-align: center;
}

.pager button{
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
}

/* gnb */

.gnb{
    background: #FFF9EF;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #A6BCED;
    box-sizing: border-box;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: #A6BCED;
    transition: all 0.5s;
}

.gnb ul{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
}

.gnb li{
    margin-right: 20px;
    cursor: default;
}

.active{
    color: #0541d7;
}

/* profile */



.profile_cont{
    max-width: 1300px;
    margin: 0 auto;
    padding: 120px 0 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    opacity: 0;
    transition: all 1s;
}


.profile{
    margin-bottom: 100px;
    display: flex;
}

.fade_in{
    opacity: 1;
}

.profile>img{
    position: relative;
}

.profile_01 {
    margin-right: 60px;
}

.profile_02 p{
    font-family: 'Gowun Dodum','sans-serif' !important;
    font-size: 18px;
}

.profile_02 img{
    width: 20px;
    margin-right: 10px;
}

.ko_name{
    font-weight: bold;
    font-size: 24px !important;
    margin-bottom: 20px;
}

.mbti{
    margin-bottom: 10px;
}

.profile_cont h2{
    margin-bottom: 20px;
}

.profile_left{
    margin-right: 140px;
}


.character{
    max-width: 594px;
    margin: 0 auto;
    height: auto;
    border: 4px dashed #ced4e7;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px 40px 60px;
}

.character span{
    border-bottom: 3px solid #9DB1E2;
    margin-right: 20px;
    font-size: 20px;
}

.education{
    margin-bottom: 32px;
    color: #444444;
}

.education span{
    margin-right: 20px;
}

.license{
    margin-bottom: 32px;
    color: #444444;
}

.license span{
    margin-right: 20px;
}

.skills{
    max-width: 500px;
    margin: 0 auto;
}

.skills img{
    width: 67px;
    margin-right: 25px;
}

.skills_top{
    display: flex;
    margin-bottom: 10px;
}

.skills_bottom{
    display: flex;
}

/* portfolio */

.portfolio_space{
    padding: 140px 0;
    box-sizing: border-box;
    text-align: center;
}

.portfolio_space h1{
    font-size: 40px;
    color: #0541d7;
}

.title{
    color: #869DD6;
    margin-bottom: 60px;
}

/* portfolio space */

.space_cont{
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

/* swiper */

.swiper {
    max-width: 546px;
    height: 307px;
    background: #cacaca;
    margin-right: 60px;
    overflow: hidden;
  }

  .swiper-wrapper{
    display: flex;
    width: 2244px;
  }

  .swiper-slide {
    max-width: 546px;
    height: 307px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next img{
    position: absolute;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    color: #A7A7A7;
  }

  .swiper-pagination-bullet-active{
    color: #000000;
  }
  

.portfolio_space .space_txt{
    text-align: left;
}

.space_process{
    display: flex;
    width: 693px;
    justify-content: space-between;
    margin: 58px 0;
    position: relative;
}

.space_process>div{
    width: 117px;
    height: 117px;
    border-radius: 50%;
    position: relative;
}

/* portfolio space 01 */

.portfolio_space_01 .space_process>div{
    border: 2px dotted #819CE2;
}

.portfolio_space_01 .space_process .number{
    color: #819CE2;
}

.process_txt{
    color: #666666;
}

.number{
    position: absolute;
    top: 15px;
    left: 47px;
}

.portfolio_space_01 .process_01>.process_txt{
    position: absolute;
    top: 50px;
    left: 20px;
}

.portfolio_space_01 .process_02>.process_txt{
    position: absolute;
    top: 40px;
    left: 0;
}

.portfolio_space_01 .process_03>.process_txt{
    position: absolute;
    top: 50px;
    left: 7px;
}

.portfolio_space_01 .process_04>.process_txt{
    position: absolute;
    top: 40px;
    left:0;
}

.portfolio_space_01 .arrow_01{
    position: absolute;
    left: 140px;
    top: 50px;
}

.portfolio_space_01 .arrow_02{
    position: absolute;
    left: 330px;
    top: 50px;
}

.portfolio_space_01 .arrow_03{
    position: absolute;
    left: 525px;
    top: 50px;
}

.process_01 img{
    position: absolute;
    top: 20px;
    left: -60px;
}

.photo_wrap{
    max-width: 1300px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

.photo_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

.portfolio_space_01_detail .photo_01{
    width: 594px;
    height: 336px;
    background: #d8d8d8;
}

.portfolio_space_01_detail .photo_02{
    width: 336px;
    height: 336px;
    background: #d8d8d8;
}

.portfolio_space_01_detail .photo_03{
    width: 329px;
    height: 336px;
    background: #d8d8d8;
    margin-bottom: 40px;
}

/* portfolio space 02 */

.portfolio_space_02 .space_process>div{
    border: 2px dotted #FA859B;
}

.portfolio_space_02 .space_process .number{
    color: #FA859B;
}

.portfolio_space_02 .process_01>.process_txt{
    position: absolute;
    top: 40px;
    left: 12px;
}

.portfolio_space_02 .process_02>.process_txt{
    position: absolute;
    top: 40px;
    left: 12px;
}

.portfolio_space_02 .process_03>.process_txt{
    position: absolute;
    top: 40px;
    left: 0;
}

.portfolio_space_02 .process_04>.process_txt{
    position: absolute;
    top: 40px;
    left:27px;
}

.portfolio_space_02 .process_05>.process_txt{
    position: absolute;
    top: 50px;
    left:12px;
}

.portfolio_space_02 .arrow_01{
    position: absolute;
    left: 120px;
    top: 50px;
}

.portfolio_space_02 .arrow_02{
    position: absolute;
    left: 263px;
    top: 50px;
}

.portfolio_space_02 .arrow_03{
    position: absolute;
    left: 407px;
    top: 50px;
}

.portfolio_space_02 .arrow_04{
    position: absolute;
    left: 550px;
    top: 50px;
}

.portfolio_space_02_detail .photo_01{
    width: 432px;
    height: 336px;
    background: #d8d8d8;
}

.portfolio_space_02_detail .photo_02{
    width: 244px;
    height: 336px;
    background: #d8d8d8;
}

.portfolio_space_02_detail .photo_03{
    width: 341px;
    height: 336px;
  
}

.portfolio_space_02_detail .photo_03 .photo_top{
    width: 341px;
    height: 160px;
    background: #d8d8d8;
    margin-bottom: 20px;
}

.portfolio_space_02_detail .photo_03 .photo_bottom{
    display: flex;
    justify-content: space-between;
}

.portfolio_space_02_detail .photo_03 .photo_left{
    width: 161px;
    height: 155px;
    background: #d8d8d8;
}

.portfolio_space_02_detail .photo_03 .photo_right{
    width: 160px;
    height: 155px;
    background: #d8d8d8;
}

.portfolio_space_02_detail .photo_04{
    width: 223px;
    height: 336px;
    background: #d8d8d8;
}

/* portfolio space 03 */

.portfolio_space_03 .space_process>div{
    border: 2px dotted #C95368;
}

.portfolio_space_03 .space_process .number{
    color: #C95368;
}

.portfolio_space_03 .process_01>.process_txt{
    position: absolute;
    top: 40px;
    left: 20px;
}

.portfolio_space_03 .process_02>.process_txt{
    position: absolute;
    top: 40px;
    left: 15px;
}

.portfolio_space_03 .process_03>.process_txt{
    position: absolute;
    top: 50px;
    left: 7px;
}

.portfolio_space_03 .process_04>.process_txt{
    position: absolute;
    top: 40px;
    left: 12px;
}

.portfolio_space_03 .arrow_01{
    position: absolute;
    left: 140px;
    top: 50px;
}

.portfolio_space_03 .arrow_02{
    position: absolute;
    left: 330px;
    top: 50px;
}

.portfolio_space_03 .arrow_03{
    position: absolute;
    left: 525px;
    top: 50px;
}

.process_01 img{
    position: absolute;
    top: 20px;
    left: -60px;
}

.photo_wrap{
    max-width: 1300px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

.portfolio_space_03_detail .photo_wrap>div{
    width: 244px;
    height: 336px;
    background: #d8d8d8;
}

/* portfolio space 04 */

.portfolio_space_04 .space_process>div{
    border: 2px dotted #869DD6;
}

.portfolio_space_04 .space_process .number{
    color: #869DD6;
}

.portfolio_space_04 .process_01>.process_txt{
    position: absolute;
    top: 40px;
    left: 7px;
}

.portfolio_space_04 .process_02>.process_txt{
    position: absolute;
    top: 40px;
    left: 15px;
}

.portfolio_space_04 .process_03>.process_txt{
    position: absolute;
    top: 40px;
    left: 20px;
}

.portfolio_space_04 .process_04>.process_txt{
    position: absolute;
    top: 40px;
    left:20px;
}

.portfolio_space_04 .process_05>.process_txt{
    position: absolute;
    top: 40px;
    left:21px;
}

.portfolio_space_04 .arrow_01{
    position: absolute;
    left: 120px;
    top: 50px;
}

.portfolio_space_04 .arrow_02{
    position: absolute;
    left: 263px;
    top: 50px;
}

.portfolio_space_04 .arrow_03{
    position: absolute;
    left: 407px;
    top: 50px;
}

.portfolio_space_04 .arrow_04{
    position: absolute;
    left: 550px;
    top: 50px;
}

.portfolio_space_04_detail .photo_wrap>div{
    width: 244px;
    height: 336px;
    background: #d8d8d8;
}
/* portfolio website */

.web_site{
    width: 100%;
}

.web_site_cont{
    max-width: 1300px;
    margin: 0 auto;
    padding: 160px 0 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.web_site_cont h1{
    font-size: 40px;
    margin-bottom: 160px;
    color: #0541d7;
}

.site_wrap{
    display: flex;
    justify-content: space-between;
   /* opacity: 0; */
    transition: all 1s;
    transform: translateY(-100px);
}

.fade_down{
    opacity: 1;
    transform: translateY(0);
}

.site_wrap h2{
    font-family: 'Gowun Dodum','sans-serif' !important;
    font-size: 20px;
    color: #c9c9c9;
    margin-bottom: 10px;
}

.site_wrap p{
    font-family: 'Gowun Dodum','sans-serif' !important;
    font-size: 16px;
    color: #c9c9c9;
}

.site_wrap>div{
    width: 375px;
    height: 280px;
    position: relative;
}

.site_cont_01{
    border: 2px solid #194E91;
}

.site_cont_01>div:first-child{
    border-bottom: 2px solid #194E91;
    background: #194E91;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 30;
}

.open_site{
    width: 28px;
    position: relative;
    right: 10px;
}

.dark_filter{
    background: #000000;
    width: 375px;
    height: 253px;
    position: absolute;
    z-index: 20;
    bottom: 0;
    opacity: 0.8;
    display: none;
    transition: all 1s;
}

.maeil{
    width: 185px;
    position: absolute;
    bottom: 90px;
    left: 95px;
}

.introduce_cont{
    position: absolute;
    z-index: 40;
    left: 45px;
    bottom: 30px;
    opacity: 0;
    cursor: default;
}

.site_to_go{
    padding: 10px 13px 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background: #898989;
    color: #c9c9c9;
    border: none;
    font-family: 'Paytone One','Gowun Dodum';
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.site_to_go a{
    display: flex;
    align-items: center;
}

.site_to_go img{
    margin-left: 7px;
}

.introduce_cont .visit_maeil:hover{
    background: #194E91;
}

.site_cont_01:hover .introduce_cont{
    opacity: 1;
}

.site_cont_01:hover .dark_filter{
    display: block;
}

.site_cont_02{
    border: 2px solid #727272;
}

.site_cont_02>div:first-child{
    border-bottom: 2px solid #727272;
    background: #727272;
    display: flex;
    justify-content: flex-end;
}

.saltrain{
    width: 288px;
    position: absolute;
    bottom: 100px;
    left: 45px;
}

.introduce_cont .visit_saltrain:hover{
    background: #5e5e5e;
}

.site_cont_02:hover .introduce_cont{
    opacity: 1;
}

.site_cont_02:hover .dark_filter{
    display: block;
}

.site_cont_03{
    border: 2px solid #d44861;
}

.site_cont_03>div:first-child{
    border-bottom: 2px solid #d44861;
    background: #d44861;
    display: flex;
    justify-content: flex-end;
}

.site_cont_03 .introduce_cont{
    bottom: 45px;
    left: 25px;
}

.gongcha{
    width: 116px;
    position: absolute;
    bottom: 50px;
    left: 135px;
}

.introduce_cont .visit_gongcha:hover{
    background: #d52243;
}

.site_cont_03:hover .introduce_cont{
    opacity: 1;
}

.site_cont_03:hover .dark_filter{
    display: block;
}

.address_cont{
    max-width: 1300px;
    margin: 0 auto;
    padding: 160px 0 0;
    box-sizing: border-box;
}

.address_box{
    max-width: 1300px;
    border: 2px solid #405da5;
}

.address_box>div:first-child{
    max-width: 1300px;
    background: #405da5;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.address_txt{
    padding: 20px 20px 60px;
}

.address_txt span{
    color: #666666;
    font-style: italic;
    text-decoration:underline;
}

.address_cont p{
    font-size: 32px;
    color: #819CE2;
}

.fz{
    font-size: 80px !important;
    color: #0541d7 !important;
}

/* tablet ver */
@media (min-width: 768px) and (max-width: 1024px) {
    .wrap {
    position: relative;
    width: 100%;
    height: 100%; /* 한 화면을 다 차지 */
    overflow-x: hidden;
    overflow-y: auto; /* 기본적으로 스크롤 허용 */
}

.container {
    margin-bottom: 200px;
    height: auto; /* 각 페이지가 한 화면을 차지하도록 설정 */
}

.mypage_wrap{
    height: 700px;
}

.mypage_cont{
    max-width: 700px;
}

.mypage_cont h1{
    font-size: 100px;
}
.opacity_10{
    position: absolute;
    top: 119px;
    left:10%;
}

.opacity_30{
    position: absolute;
    top: 185px;
    left: 27%;
}

.opacity_50{
    position: absolute;
    top: 251px;
    left: 10%;
}

.opacity_70{
    position: absolute;
    top: 317px;
    left: 27%;
}

.opacity_100{
    position: absolute;
    top: 383px;
    left: 10%;
}

.bg_01{
    display: none;
}

.bg_02{
    display: none;
}

.gnb{
    display: none;
}
.pager{
    display: none;
}

.profile{
    display: block;
}

.profile_cont{
    display: block;
    text-align: center;
    height: 100%;
    padding: 0;
}

.profile_right{
    margin-bottom: 100px;
}

.profile_left{
    margin-right: 0;
}

.profile_01{
    margin-right: 0;
    margin-bottom: 40px;
}

.character{
    width: auto;
    margin-bottom: 100px;
}

.first_box{
    box-sizing: border-box;
    text-align: center;
}

.education{
    margin-bottom: 80px;
}

.license{
    margin-bottom: 80px;
}

.space_cont{
    max-width: 1300px;
    display: block;
    margin: 0 auto;
}

.swiper {
    margin-bottom: 40px;
    }

    
.portfolio_space{
    padding:  0;
    box-sizing: border-box;
    text-align: center;
}

.portfolio_space .space_txt{
    text-align: center;
    margin-bottom: 60px;
}

.space_process{
    margin: auto;
}

.photo_wrap{
    display: block;
}

.photo_wrap>div{
    margin: 0 auto 40px;
}

.profile_cont{
    opacity: 1;
}

.portfolio_space_01_detail .photo_02{
    width: 594px;
    height: 594px;
}

.portfolio_space_01_detail .photo_03{
    width: 594px;
    height: 594px;
}

.portfolio_space_02_detail .photo_01{
    width: 594px;
    height: 462px;
}

.portfolio_space_02_detail .photo_02{
    width: 594px;
    height: 817px;
}

.photo_bottom{
    display: block !important;
    margin-bottom: 40px;
}

.portfolio_space_02_detail .photo_03{
    width: 594px;
    height: 578px;
    display: block;
    margin-bottom: 40px;
}

.portfolio_space_02_detail .photo_03 .photo_top{
    width: 594px;
    height: 278px;
    margin-bottom: 40px;
}

.portfolio_space_02_detail .photo_03 .photo_left{
    width: 594px;
    height: 594px;
    margin-bottom: 40px;
}

.portfolio_space_02_detail .photo_03 .photo_right{
    width: 594px;
    height: 594px;
}

.portfolio_space_02_detail .photo_04{
    width: 594px;
    height: 895px;
    margin-top: 40px;
}

.portfolio_space_03_detail .photo_wrap>div{
    width: 594px;
    height: 817px;
}

.portfolio_space_04_detail .photo_wrap>div{
    width: 594px;
    height: 817px;
}

.site_wrap{
    display: block;
    
}

.site_wrap>div{
    margin: 0 auto 40px;

}

.web_site_cont{
    padding: 0;
}

.address_cont{
    padding: 0;
    max-width: 700px;
}
}

/* mobile ver */
@media (min-width: 375px) and (max-width:767px){
    p{
        font-size: 16px;
        line-height: 1.75;
        color: #444444;
    }
    
    .wrap {
        position: relative;
        width: 100%;
        height: 100%; /* 한 화면을 다 차지 */
        overflow-x: hidden;
        overflow-y: auto; /* 기본적으로 스크롤 허용 */
    }
    
    .container {
        margin-bottom: 0;
        height: auto; /* 각 페이지가 한 화면을 차지하도록 설정 */
    }

    .mypage_wrap{
        height: 700px;
    }

    .mypage_cont{
        max-width: 300px;
        margin: 0 auto;
    }
   
    .mypage_cont h1{
        font-size: 50px;
        text-align: center;
    }
    .opacity_10{
        left:10%;
    }
    
    .opacity_30{
        left: 10%;
    }
    
    .opacity_50{
        left: 10%;
    }
    
    .opacity_70{
        left: 10%;
    }
    
    .opacity_100{
        left: 10%;
    }
    .bg_01{
        display: none;
    }
    
    .bg_02{
        display: none;
    }

    .name{
        font-size: 30px;
        color: #0541d7;
        position: absolute;
        bottom: -550px;
        left: 45px;
        height: 0;
    }
    
    .year{
        font-size: 30px;
        color: #0541d7;
        right: 0;
        bottom: -650px;
        left: 20px;
        position: absolute;
        height: 0;
    }

    .gnb{
        display: none;
    }

    .pager{
        display: none;
     }

    
    .profile{
        display: block;
    }

    .profile_01{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .profile_cont{
        display: block;
        text-align: center;
        height: 100%;
    }

    .profile_right{
        margin-bottom: 100px;
    }

    .profile_left{
        margin-right: 0;
    }

    .space_right{
        margin-bottom: 100px;
        max-width: 330px;
        margin: 0 auto;
    }

    .character{
        max-width: 330px;
        margin-bottom: 100px;
    }

    .character h2{
        font-size: 20px;
    }

    .character span{
        border-bottom: 3px solid #9DB1E2;
        margin-right: 10px;
        font-size: 16px;
    }

    .first_box{
        padding: 2500px 0 60px;
        box-sizing: border-box;
        text-align: center;
    }

    .education{
        margin-bottom: 80px;
    }
    
    .license{
        margin-bottom: 80px;
    }

    .skills_top{
        display: block;
        margin-bottom: 0;
    }
    
    .skills_bottom{
        display: block;
    }

    .skills img{
        width: 127px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile_cont{
        opacity: 1;
     }

    .space_cont{
        max-width: 1300px;
        display: block;
        margin: 0 auto;
    }

    .swiper {
        margin-bottom: 40px;
      }

    .portfolio_space h1{
        font-size: 32px;
        color: #0541d7;
    }
      
    .portfolio_space{
        padding:  0;
        box-sizing: border-box;
        text-align: center;
    }

    .portfolio_space .space_txt{
        text-align: center;
        margin-bottom: 60px;
    }

    .space_process{
        margin: auto;
    }
    .space_process{
        display: block;
        margin: 58px auto;
        width: 117px;
        margin: 0 auto;
    }

    .space_process>div{
        width: 117px;
        height: 117px;
        margin-bottom: 40px;
    }

    .space_process img{
        display: none;
    }

    .photo_wrap{
        display: block;
    }

    .photo_wrap>div{
        margin: 0 auto 40px;
    }

    .portfolio_space_01_detail .photo_01{
        width: 300px;
        height: 180px;
    }

    .portfolio_space_01_detail .photo_02{
        width: 300px;
        height: 300px;
    }
    
    .portfolio_space_01_detail .photo_03{
        width: 300px;
        height: 300px;
    }

    .portfolio_space_02_detail .photo_01{
        width: 300px;
        height: 236px;
        background: #d8d8d8;
    }
    
    .portfolio_space_02_detail .photo_02{
        width: 300px;
        height: 416px;
        background: #d8d8d8;
    }
    
    .portfolio_space_02_detail .photo_03{
        width: 300px;
        height: 296px;
      
    }
    
    .portfolio_space_02_detail .photo_03 .photo_top{
        width: 300px;
        height: 180px;
        background: #d8d8d8;
        margin-bottom: 20px;
    }
    
    .portfolio_space_02_detail .photo_03 .photo_bottom{
        display: block;
    }
    
    .portfolio_space_02_detail .photo_03 .photo_left{
        width: 300px;
        height: 300px;
        background: #d8d8d8;
    }
    
    .portfolio_space_02_detail .photo_03 .photo_right{
        width: 300px;
        height: 300px;
        background: #d8d8d8;
    }
    
    .portfolio_space_02_detail .photo_04{
        width: 300px;
        height: 436px;
        background: #d8d8d8;
    }

    .portfolio_space_03_detail .photo_wrap>div{
        width: 300px;
        height: 413px;
    }
    
    .portfolio_space_04_detail .photo_wrap>div{
        width: 300px;
        height: 413px;
    }
    

    .profile_cont{
       opacity: 1;
    }

    .site_wrap{
        display: block;
    }

    .site_wrap>div{
        margin: 0 auto 40px;
    }

    .web_site_cont{
       padding: 0;
    }
    .web_site_cont h1{
        font-size: 32px;
    }

    .site_wrap>div{
        width: 300px;
        height: 200px;
    }

    .maeil{
        width: 140px;
        position: absolute;
        bottom: 60px;
        left: 85px;
    }

    .saltrain{
        width: 220px;
        position: absolute;
        bottom: 70px;
        left: 40px;
    }

    .gongcha{
        width: 80px;
        position: absolute;
        bottom: 35px;
        left: 115px;
    }

    .address_cont{
       padding: 40px 0;
       max-width: 300px;
    }

    .fz{
        font-size: 40px !important;
        color: #0541d7 !important;
    }

    .address_txt span{
        color: #666666;
        font-style: italic;
        text-decoration:underline;
        font-size: 20px;
    }


  }
  
  